.contact-container {
  max-width: 85%
}

.contact-instructions {
  margin-bottom: 10px;
}

.contact-instructions p {
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  text-align: left;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
}

.contact-form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  gap: 10px;
}

.form-input {
  display: flex;
  flex-direction: row;
  border: 1px solid #2983bc;
}

.message-field {
  height: 200px;
  border: 1px solid #2983bc;
  margin-top: 5px;
}

.contact-me {
  background-color: #2983bc;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 5px;
  padding: 3px 10px;
  width: fit-content;
}

.required-field {
  color: red;
  font-weight: bold;
}

/* Responsive CSS for iPad and larger screens */
@media screen and (width >= 800px) {
  .contact-instructions {
    margin-bottom: 10px;
  }

  .contact-form {
    margin-top: 15px;
  }

  .contact-form-row {
    gap: 20px;
    margin-bottom: 20px;
  }
}
