.footer {
    background-color: #2983bc;
    padding: 10px;
    bottom: 0;
  }

.footer p {
    margin: 0;
    padding: 0;
    text-align: right;
    color: #e7e7e7;
    font-style: italic;
}

.footer-nav-link {
  color: #e7e7e7;
  text-decoration: none;
}
