.footer {
    background-color: #2983bc;
    padding: 10px;
    bottom: 0;
    color: #e7e7e7;
    font-style: italic;
    font-size: 12px;
  }

.footer p {
    margin: 0;
    padding: 0;
    text-align: right;
}

.footer-nav-link {
  color: #e7e7e7;
  text-decoration: none;
}

/* Responsive CSS for iPad and larger screens */
@media screen and (width >= 800px) {
  .footer {
    font-size: 17px;
  }
}
