@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700;900&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #184B6C;
  width: 100%;
}

p {
  font-size: 12px;
}

.freelance-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
}

.freelance-title-container {
  text-align: center;
  margin-bottom: 5px;
}

.freelance-page-title {
  font-family: "Overlock", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #2983bc;
}

/* Responsive CSS for iPad and larger screens */
@media screen and (width >= 800px) {
  body {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  .freelance-page-title {
    font-size: 25px;
  }
}
