.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  background-color: #2983bc;
  color: #e7e7e7;
  top: 0;
  }

.my-logo {
  padding: 0 5px;
  max-width: 50px;
  max-height: 50px;
}

.header-text {
  text-align: center;
}

.my-name {
  font-family: "Overlock", sans-serif;
  font-weight: 900;
  padding: 10px 0 0;
  font-size: 20px;
}

.my-title {
  padding: 3px 0;
  font-style: italic;
}

.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  font-size: 10px;
}

.header a {
  text-decoration: none;
}

.header a:link {
  color: #e6e9f0;
}

.header a:visited {
  color: #e6e9f0;
}

/* Responsive CSS for iPad and larger screens */
@media screen and (width >= 800px) {
  .my-logo {
    margin-right: 0;
    padding: 0 10px;
    max-width: 60px;
    max-height: 60px;
  }

  .my-name {
    padding: 15px 0 0;
    font-size: 27px;
  }

  .my-title {
    padding: 0;
  }

  .contact {
    font-size: 14px;
    gap: 10px;
    padding: 10px 0;
  }
}
