.welcome-message {
  margin: 10px;
  text-align: justify;
  color: black;
}

.checklist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checklist-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checklist {
  margin: 0 15px;
  padding: 5px 0 0 0;
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}

.main-content-img {
  object-fit: contain;
  border-color: black;
  border-radius: 8px;
}

.image1 {
  padding-left: 20px;
  max-height: 150px;
}

.image2 {
  max-height: 150px;
  margin-left: -100px;
  margin-top: 10px;
}

.welcome-nav-link {
  background-color: #2983bc;
  border-radius: 10px;
  padding: 1px 7px;
  color: #ffffff;
  text-decoration: none;
}

/* Responsive CSS for iPad and larger screens */
@media screen and (width >= 800px) {
  .welcome-message {
    margin: 15px;
  }

  .image1 {
    padding-left: 20px;
    max-height: 220px;
  }

  .image2 {
    max-height: 230px;
    margin-top: 20px;
  }
}
