.sample-sites {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding-top: 10px;
  padding-left: 20px;
}

.sample p {
  padding: 0 15px;
  margin: 0;
  text-align: left;
}

.sample a {
  color: #2983bc;
  text-decoration: none;
}

.sample-project-link {
  font-size: 14px;
  font-weight: 700;
}
