.special-offer {
  font-family: "Overlock", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 25px;
  margin: 10px 15px;
  text-align: center;
}

h2 {
  margin: 0;
}

p {
  font-style: italic;
  color: black;
  text-align: center;
}

.offer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.offer-details {
  padding: 20px;
  background-color: #2983bc;
  border: 2px double #000;
  border-radius: 10px;
  margin: 10px 0;
  display: inline-block;
  color: #fff;
}

.bullet {
  padding-left: 15px;
}

/* Responsive CSS for iPad and larger screens */
@media screen and (width >= 800px) {
  h1 {
    font-size: 30px;
  }

  .offer-details {
    padding: 20px;
  }
}
